.Price {
    align-self: end;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
}

.original-price {
    justify-self: end;
    align-self: center;

    color: black;
    word-break: break-all;
    text-decoration: line-through;
}

.current-price {
    color: black;
    word-break: break-all;
}

.discount-percentage {
    align-self: center;

    color: rgb(224, 6, 6);
    word-break: break-all;
}