.Cart {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 50rem;
    grid-template-rows: auto;

    min-width: 50rem;
    height: 30rem;

    background-color: white;
}

.title {
    justify-self: center;

    color: black;

    padding: 0.4rem 0.2rem;
    margin: 0rem;
}

.cart-item-list {
    display: grid;
    grid-template-rows: auto;
    gap: 0.4rem;

    list-style: none;
    padding: 0.4rem;
    margin: 0;
}

.cart-item {
    color: black;
    border: 1px solid black;
}

.empty-text {
    color: black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;

    padding: 0.2rem;
    margin: 0;
}