.Cart {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 50rem;
    grid-template-rows: repeat(2, auto) 1fr auto;
    gap: 1.0rem;

    min-width: 50rem;
    height: 30rem;

    border-radius: 1.0rem;
    background-color: white;
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);

    padding: 1.0rem;
    margin: 1.0rem;
}

.title {
    justify-self: center;

    color: black;

    padding: 0.4rem 0.2rem;
    margin: 0rem;
}

.container a { /* Targeting the 'Return to Shop' & 'Purchase Items' button here */
    justify-self: center;
}

.cart-item-list {
    display: grid;
    grid-template-rows: auto;
    gap: 0.4rem;

    list-style: none;
    padding: 0.4rem;
    margin: 0;
}

.cart-item {
    color: black;
    border: 1px solid black;
}

.empty-text {
    align-self: start;

    color: black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;

    padding: 0.2rem;
    margin: 0;
}