@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0&family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,0&display=swap');

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
}

.CartItemCard {
    justify-self: center;
    width: 60%;
    height: 12rem;
    border-radius: 1.0rem;
    border: 0.12rem solid rgb(82, 82, 82);
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0.5rem;

    box-sizing: border-box; /* Prevent padding from making container larger than defined width + height */
    padding: 0.4rem 0.8rem;
}

.CartItemCard:hover {
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);
}

.image-container {
    place-self: center;
}

.information-container {
    display: grid;
    grid-template-rows: 4.4rem repeat(3, auto);
    justify-items: end;
    align-items: center;
    gap: 0.4rem;
}

.information-container a {
    justify-self: end;
}

.item-name {
    color: black;
    font-family: var(--nunito-font-family);
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.1rem;

    height: 4.4rem;
    overflow: hidden;
}

.price-information {
    display: flex;
    gap: 0.3rem;
}

.price-component-text-match {
    color: black;
    font-size: 0.8rem;
}

.price-information div {
    align-self: center;
}