.App {
    display: grid;
    grid-template-columns: 1fr 17rem;

    padding: 0rem;
    margin: 0rem;
}

.shop-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 19rem);
    justify-content: center;
    gap: 0.5rem;
}

.cart-sidebar-container {
    background-color: white;
    
    width: 17rem;
    height: 100vh;
}

.cart-sidebar-container {
    position: fixed;
}

.cart-sidebar-content {
    display: grid;
    grid-template-rows: auto 1fr;

    height: inherit;
}
