.label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 0.75rem;
}

.input,
.input-outlined {
    font-size: 1rem;
    height: 0.8rem;
    width: 100%;
    outline: none;
    border-radius: 0.8rem;
    padding: 0.2rem 0.4rem;
    background-color: white;
}

.input {
    border: 0.16rem solid white;
}
.input-outlined {
    border: 0.16rem solid rgb(44, 44, 44);
}

.input:focus {
    border: 0.16rem solid white;
}
.input-outlined:focus {
    border: 0.16rem solid rgb(44, 44, 44);
}

.input:hover {
    border: 0.16rem solid rgb(243, 243, 243);
    background-color: rgb(243, 243, 243);
}
.input-outlined:hover {
    border: 0.16rem solid rgb(44, 44, 44);
    background-color: rgb(243, 243, 243);
}