.ShopCart {
    background-color: rgb(245, 245, 245);
    
    overflow: scroll;
    overflow-x: hidden;

    width: inherit;
    height: 100%;

    margin: 0;
}

.cart-item-list {
    display: grid;
    grid-template-rows: auto;
    gap: 0.4rem;

    list-style: none;
    padding: 0.4rem;
    margin: 0;
}

.cart-item {
    color: black;
    border: 1px solid black;
}

.empty-text {
    color: black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;

    padding: 0.2rem;
    margin: 0;
}