.ShopCart {
    margin: 0;
}

.container {
    position: fixed;

    background-color: rgb(245, 245, 245);
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;

    width: inherit;
    height: 100vh;
}

.item-container {
    overflow: scroll;
    overflow-x: hidden;
}

.item-list {
    display: grid;
    grid-template-rows: auto;
    gap: 0.4rem;

    list-style: none;
    padding: 0.4rem;
    margin: 0;
}

.empty-text {
    color: black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;

    padding: 0.2rem;
    margin: 0;
}