@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0&family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,0&display=swap');

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
}

.ShopItemCard {
    width: 19rem;
    height: auto;
    border-radius: 1.0rem;
    border: 0.12rem solid rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-rows: 6.4rem 17rem repeat(3, auto);
    gap: 0.5rem;

    box-sizing: border-box; /* Prevent padding from making container larger than defined width + height */
    padding: 0.5rem;
}

.item-name {
    align-self: center;

    color: black;
    font-family: var(--nunito-font-family);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;

    height: 6.4rem;
    overflow: hidden;
}

.item-image {
    place-self: center;

    border-radius: 0.8rem;

    max-width: 100%;
    max-height: 100%;
}